h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    color: white;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: white;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color:white
}